<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app>
        <v-img src="/site-background.jpg">
            <v-toolbar color="grey darken-4" dark tabs>
                <v-toolbar-title class="headline text-uppercase">
                    <span>Rockets!</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-width="200"
                        offset-x
                        dark
                >
                    <template v-slot:activator="{ on }">
                        <v-btn
                                dark
                                v-on="on"
                                icon
                        >
                            <v-icon>account_circle</v-icon>
                        </v-btn>
                    </template>

                    <v-card>
                        <v-list>
                            <v-list-tile avatar>
                                <v-list-tile-avatar>
                                    <v-icon>face</v-icon>
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title>{{user.username}}</v-list-tile-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-btn
                                            :class="user.role==='ROLE_ADMIN' ? 'red--text' : ''"
                                            icon
                                    >
                                        <v-icon>favorite</v-icon>
                                    </v-btn>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-list>

                        <v-divider></v-divider>

                        <v-list>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-btn>Button</v-btn>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-list>

                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn flat @click="menu = false">Cancel</v-btn>
                            <v-btn color="red" @click="logout">Logout</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>
                <template v-slot:extension v-if="!showTutorial">
                    <v-tabs
                            v-model="activeTab"
                            centered
                            color="grey darken-4"
                    >
                        <v-tab
                                v-for="(tab, i) of tabs"
                                :key="i"
                                :to="tab.path"
                        >
                            {{tab.name}}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>
            <router-view :key="$route.fullPath"
                         v-on:achievement-gained="gainNewAchievement"
                         v-if="!showTutorial"
                         :role="user.role"
                         :user="user"
            ></router-view>
            <v-dialog v-model="newAchievement.active" max-width="400px">
                <v-card color="blue-grey darken-2" class="white--text">
                    <v-card-title primary-title>
                        <div>
                            <div class="headline">New Achievement Earned!</div>
                            <span>{{newAchievement.name}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text>
                        {{newAchievement.description}}
                    </v-card-text>
                    <v-card-actions>
                        <v-btn flat dark @click="newAchievement = {active: false}">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <tutorial v-if="showTutorial" v-on:achievement-gained="gainNewAchievement"
                      v-on:test-sent="showTutorial = false"></tutorial>
        </v-img>
    </v-app>
</template>

<script>
    import axios from "axios";
    import Tutorial from "./components/Tutorial"
    import Admin from "./pages/Admin"

    export default {
        name: 'App',
        components: {
            "tutorial": Tutorial
        },
        data() {
            return {
                activeTab: null,
                tabs: [
                    {path: '/', name: 'Home'},
                    {path: '/leaderboard', name: 'Leaderboard'},
                    {path: '/newGame', name: 'New Game'}
                ],
                user: {},
                menu: false,
                newAchievement: {active: false},
                showTutorial: false,
            }
        },
        mounted() {
            axios.get("/api/getUser")
                .then(r => {
                    this.user = r.data.body;
                    if (this.user.role === 'ROLE_ADMIN') {
                        this.tabs.push({path: '/admin', name: 'Admin'});
                        this.$router.addRoutes([{path: '/admin', name: 'admin', component: Admin}])
                    }
                    let firstTime = true;

                    for (let achievement of this.user.achievements) {
                        if (achievement.name === "First time logon") {
                            firstTime = false;
                            break;
                        }
                    }
                    this.showTutorial = firstTime;
                    if (this.showTutorial) {
                        axios.post("/api/activateUser")
                            .catch(e => console.log(e));
                        this.newAchievement.name = "First time logon";
                        this.newAchievement.description = "Logon to the application for the first time!";
                        this.newAchievement.active = true;
                    }
                }).catch(e => console.log(e));
        },
        methods: {
            logout: function () {
                axios.get("/perform_logout")
                    .then(r => location.reload())
                    .catch(e => console.log(e));
            },
            gainNewAchievement: function (event) {
                event.active = true;
                console.log(event);
                this.newAchievement = event;
            }
        }
    }
</script>
