<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-content>
        <v-card>
            <v-container
                    fluid
                    grid-list-lg
            >
                <v-layout row justify-space-around wrap>
                    <v-flex xs9>
                        <v-card>
                            <v-card-title>
                                Users
                                <v-btn @click.stop="newUserPopup = true">Add new user</v-btn>
                                <v-spacer></v-spacer>
                                <v-text-field
                                        v-model="search"
                                        append-icon="search"
                                        label="Search"
                                        single-line
                                        hide-details
                                ></v-text-field>
                            </v-card-title>
                            <v-data-table
                                    :headers="headers"
                                    :items="users"
                                    :search="search"
                            >
                                <template v-slot:items="props">
                                    <td>{{ props.item.username }}</td>
                                    <td v-if="props.item.achievements">{{props.item.achievements.length}}</td>
                                    <td v-else>0</td>
                                    <td>
                                        <v-checkbox @change="toggleUserRole(props.item)"
                                                    v-model="props.item.role === 'ROLE_ADMIN'"></v-checkbox>
                                    </td>
                                    <td>
                                        <v-icon @click="deleteUser(props.item)">close</v-icon>
                                    </td>
                                </template>
                                <template v-slot:no-results>
                                    <v-alert :value="true" color="error" icon="warning">
                                        Your search for "{{ search }}" found no results.
                                    </v-alert>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
        <v-dialog v-model="newUserPopup" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">User Profile</span>
                </v-card-title>
                <v-form>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field
                                            label="Username*"
                                            required
                                            v-model="username"
                                            :error-messages="usernameErrors"
                                            @input="$v.username.$touch()"
                                            @blur="$v.username.$touch()"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field
                                            label="Password*"
                                            type="password"
                                            required
                                            v-model="password1"
                                            :error-messages="passwordErrors"
                                            @input="$v.password1.$touch()"
                                            @blur="$v.password1.$touch()"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field
                                            label="Confirm Password*"
                                            type="password"
                                            required v-model="password2"
                                            :error-messages="passwordErrors"
                                            @input="$v.password2.$touch()"
                                            @blur="$v.password2.$touch()"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-checkbox v-model="isAdmin" label="Admin user"></v-checkbox>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="closeNewUser">Close</v-btn>
                        <v-btn color="blue darken-1" flat @click="addNewUser">Save</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>
    </v-content>
</template>
<script>
    import axios from "axios";
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, minLength, sameAs} from 'vuelidate/lib/validators'


    export default {
        mixins: [validationMixin],

        validations: {
            username: {required, maxLength: maxLength(20)},
            password1: {required, minLength: minLength(8)},
            password2: {sameAsPassword: sameAs('password1')},
        },
        data: function () {
            return {
                search: '',
                headers: [
                    {text: 'Username', value: 'username'},
                    {text: 'Achievements', value: 'achievements'},
                    {text: 'Admin', value: null},
                    {text: 'Remove', value: null},
                ],
                users: [],
                newUserPopup: false,
                username: null,
                password1: null,
                password2: null,
                isAdmin: false,
                globalSettings: []
            };
        },
        computed: {
            usernameErrors() {
                const errors = [];
                if (!this.$v.username.$dirty) return errors;
                !this.$v.username.maxLength && errors.push('Name must be at most 10 characters long');
                !this.$v.username.required && errors.push('Name is required.');
                return errors
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.username.$dirty) return errors;
                !this.$v.username.minLength && errors.push('Password must be at least 8 characters long');
                !this.$v.username.required && errors.push('Password is required.');
                return errors
            },
        },
        mounted() {
            this.getUsers();
            this.getGlobalSettings();
        },
        methods: {
            getGlobalSettings: function() {
                console.log("Getting global settings");
            },
            deleteUser: function (user) {
                console.log("Deleting ", user);
                axios.delete("/api/admin/deleteUser/" + user.username)
                    .then(r => this.getUsers())
                    .catch(e => {
                        console.log(e);
                    })
            },
            toggleUserRole: function (user) {
                let userIsAdmin = user.role === 'ROLE_ADMIN';
                let data = {"role": "ROLE_ADMIN"};
                if (userIsAdmin) {
                    data["role"] = "ROLE_USER";
                }

                axios.post("/api/admin/setUserRole/" + user.username, data, {headers: {'Content-Type': 'application/json'}})
                    .then(r => this.getUsers())
                    .catch(e => console.log(e));
            },
            getUsers: function () {
                console.log("getting users");
                axios.get("/api/admin/getAllUsers")
                    .then(r => {
                        this.users = r.data.body;
                        console.log(this.users)
                    }).catch(e => {
                    console.log("Error getting all users, ", e);
                })
            },
            addNewUser: function () {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    console.log(this.username, this.password1, this.password2);
                    let newUserRequest = {
                        username: this.username,
                        password1: this.password1,
                        password2: this.password2,
                        admin: this.isAdmin
                    };
                    axios.post("/api/admin/registerNewUser", newUserRequest)
                        .then(r => {
                            console.log(r)
                        })
                        .catch(e => {
                            console.log(e)
                        });
                    this.getUsers();
                    this.closeNewUser();
                }
            },
            closeNewUser: function () {
                this.$v.$reset();
                this.username = '';
                this.password1 = '';
                this.password2 = '';
                this.newUserPopup = false;
            }
        }
    };
</script>