<template>
    <v-container>
        <v-layout column justify-space-around>
            <v-flex>
                <v-layout fill-height justify-space-around>
                    <v-flex xs5 d-flex>
                        <v-flex xs12>
                            <v-flex>
                                <v-card class="rounded-card">
                                    <v-card-title class="display-2">Welcome {{user.username}}, to the Alien training
                                        program
                                    </v-card-title>
                                    <v-card-text class="text-md-left subheading">
                                        Here it is your job to help us train our UFOs to fly from their home planet to
                                        earth.<br/>
                                        But it won't be easy. There are many different obstacles for them to avoid along
                                        the
                                        route and we can't predict where they'll all be.<br/>
                                        That's where you come in.<br/>
                                        We need you to run some tests and help us train the UFOs to avoid any obstacles
                                        in
                                        their way and make it it earth.<br/>
                                        To do this simply design different environments configure some settings and
                                        watch
                                        them fly.<br/>
                                        They may not do so well at the beginning but given enough time they'll learn the
                                        best route to the end.<br/>
                                        Good luck.<br/>
                                        PS. We've hidden some achievements throughout the site to make it interesting.
                                        Try
                                        and find them all.<br/>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-flex>
                    </v-flex>
                    <v-flex xs5 d-flex id="toPrint">
                        <v-card class="rounded-card">
                            <v-card-title class="headline">Your Achievements!
                                <v-spacer/>
                                <v-btn @click.stop="certificateDialog=true">View downloadable certificate</v-btn>
                            </v-card-title>
                            <v-data-table
                                    :items="user.achievements"
                                    :headers="headers"
                                    hide-actions
                            >
                                <template slot="items" slot-scope="props">
                                    <tr>
                                        <td>{{ props.item.name }}</td>
                                        <td>{{ props.item.description }}</td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-dialog xs12 v-model="certificateDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-img src="/site-background.jpg">
                <v-toolbar dark color="yellow darken-3">
                    <v-btn icon dark @click="certificateDialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title class="text-md-center">{{user.username}}'s Achievements!</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat @click="print()">Print</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <certificate :achievements="user.achievements"></certificate>
                </v-img>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import Certificate from "../components/Certificate"

    export default {
        components: {
            "certificate": Certificate
        },
        props: {
            user: Object
        },
        data: () => ({
            headers: [
                {text: "Achievement Name", value: "name", sortable: false},
                {text: "Description", value: "description", sortable: false}
            ],
            certificateDialog: false
        }),
        methods: {
            print: function () {
                window.print();
            }
        }
    }
</script>

<style>
    .rounded-card {
        border-radius: 50px;
    }
</style>
