<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-content fill-height>
        <v-layout justify-center>
            <v-flex lg8>
                <v-card class="elevation-12">
                    <v-data-table :headers="headers" :items="testResults" class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td>{{ props.item.timeSubmitted.split('T').join(' ').substring(0,
                                    props.item.timeSubmitted.length-1) }}
                                </td>
                                <td>{{ props.item.stage }}</td>
                                <td>{{ props.item.state }}</td>
                                <td>{{props.item.currentGeneration}}/{{props.item.generationCount}}</td>
                                <td>
                                    <v-btn v-on:click.stop="showResults(props.item)"
                                           :disabled="!(props.item.state === 'Finished')">View Results
                                    </v-btn>
                                </td>
                                <td v-if="role==='ROLE_ADMIN'">{{props.item.username}}</td>
                                <td v-if="role==='ROLE_ADMIN'">
                                    <v-btn fab flat @click.stop="deleteTest(props.item)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-card>
                <v-dialog v-model="showResultsPopup">
                    <environment-design :run-algorithm="showResultsPopup" :request="selectedResults" :mouse-active="false"></environment-design>
                </v-dialog>
                <v-snackbar v-model="showDeletePopup">
                    Test deleted
                    <v-btn dark @click="showDeletePopup = false" icon>
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-snackbar>
            </v-flex>
        </v-layout>
        <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-btn fab @click="getGames" v-on="on" top right absolute>
                    <v-icon>refresh</v-icon>
                </v-btn>
            </template>
            <span>Refresh</span>
        </v-tooltip>
    </v-content>
</template>

<script>
    import axios from "axios";
    import ResultsPane from "./ResultsPane"
    import EnvironmentDesign from "../components/EnvironmentDesign"

    export default {
        components: {
            ResultsPane,
            "environment-design": EnvironmentDesign
        },
        props: ["role"],
        data: () => ({
            headers: [
                {text: "Time Submitted", value: "timeSubmitted"},
                {text: "Stage", value: "stage"},
                {text: "State", value: "state"},
                {text: "Progress", value: "progress"},
                {text: "Results", value: "results"}
            ],
            selectedResults: null,
            testResults: [],
            showResultsPopup: false,
            showDeletePopup: false
        }),
        mounted() {
            this.getGames();

            if (this.role === "ROLE_ADMIN") {
                this.headers.push({text: "User", value: "user"});
                this.headers.push({text: "Delete", value: "delete"});
            }
        },
        methods: {
            showResults: function (status) {
                axios.get("/api/getResults/" + status.requestUuid)
                    .then(resp => {
                        this.selectedResults = resp.data.body;
                        this.showResultsPopup = true;
                    })
                    .catch(err => {
                        console.log(err);
                    });

            },
            deleteTest: function (test) {
                axios.delete("/api/admin/deleteTest/" + test.requestUuid)
                    .then(r => {
                        this.showDeletePopup = true
                    })
                    .catch(e => console.log(e));
                this.getGames();
            },
            getGames: function () {
                axios.get("/api/getAllGames")
                    .then(resp => {
                        if (resp.status === 200) {
                            this.testResults = resp.data.body;
                        }
                    }).catch(err => {
                    console.log(err);
                });
            }
        }

    };
</script>