/* eslint-disable */
<template>
    <div style="margin-top: 72px;">
        <v-container>
            <tutorial v-on:test-sent="submitPopup = true" v-on:achievement-gained="resendEvent"></tutorial>
            <v-snackbar v-model="submitPopup">
                Test submitted
                <v-btn dark @click="$router.push('./leaderboard')">View progress</v-btn>
                <v-btn dark @click="submitPopup = false" icon>
                    <v-icon>close</v-icon>
                </v-btn>
            </v-snackbar>
        </v-container>
    </div>
</template>
<script>
    import Tutorial from "../components/Tutorial"

    export default {
        components: {
            "tutorial": Tutorial
        },
        data: function () {
            return {
                submitPopup: false
            };
        },
        methods: {
            resendEvent: function (event) {
                this.$emit("achievement-gained", event);
            }
        }
    };
</script>