<template>
    <div style="margin-top: 72px;">
        <v-container>
            <v-layout align-space-between justify-space-around column fill-height>
                <div ref="canvas"></div>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
    export default {
        props: ['request'],
        data: function () {
            return {
                ps: null,
                canvas: null,
                runAlgorithm: false,
                currentGeneration: 0,
                currentLife: 0,
                obstacles: []
            };
        },
        watch: {
            request: function () {
                this.reset();
                this.runAlgorithm = true;
            }
        },
        mounted() {
            let script = p => {
                this.canvasWidth = 1353;
                this.canvasHeight = 899;

                this.boulder = null;
                this.background = null;
                this.end = null;
                this.start = null;

                this.ufo = null;

                p.setup = _ => {
                    this.canvas = p.createCanvas(this.canvasWidth, this.canvasHeight);
                    this.canvas.parent(this.$refs.canvas);
                    p.frameRate(60);

                    this.background = p.loadImage("/background.jpg");
                    this.boulder = p.loadImage('/boulder.png');
                    this.end = p.loadImage("/moon.png");
                    this.start = p.loadImage("/earth.png");
                    this.ufo = p.loadImage("/ufo.png")
                };

                p.draw = _ => {
                    p.background(0);
                    if(this.request != null) {
                        p.image(this.background, 0, 0, this.request.environmentWidth, this.request.environmentHeight);
                        p.fill(255, 255, 0);
                        p.image(this.start, this.request.startPoint.x, this.request.startPoint.y, 50, 50);
                        p.fill(0, 255, 0);
                        p.image(this.end, this.request.endPoint.x, this.request.endPoint.y, 50, 50);

                        p.fill(255);
                        for (let obstacle of this.request.obstacles) {
                            p.image(this.boulder, obstacle.x, obstacle.y, obstacle.width, obstacle.height);
                        }

                        if (this.runAlgorithm) {
                            let generation = this.request["result"]["generations"][this.currentGeneration]["rocketPositions"];
                            for (let rocket of generation) {
                                let curPos = rocket["positions"][this.currentLife];
                                // p.fill(p.color(rocket.colour));
                                p.image(this.ufo, curPos.x, curPos.y, 30, 30);
                            }
                            if ((this.currentLife + 1) === this.request["lifespan"]) {
                                this.currentLife = 0;
                                if ((this.currentGeneration + 1) === this.request["generationCount"]) {
                                    this.currentGeneration = 0;
                                    this.runAlgorithm = false;
                                    console.log("Stopping algorithm")
                                } else {
                                    this.currentGeneration += 1;
                                    console.log("Moving onto generation " + (this.currentGeneration));
                                }
                            } else {
                                this.currentLife += 1;
                            }
                        }
                    }
                };
            };
            const P5 = require("p5");
            this.ps = new P5(script);
        },
        methods: {
            reset: function () {
                this.currentGeneration = 0;
                this.currentLife = 0;
                this.obstacles = [];
            }
        }
    };
</script>