<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container>
        <v-timeline>
            <v-timeline-item
                    v-for="(achievement, i) in achievements"
                    :key="i"
                    small
            >
                <template v-slot:icon>
                    <v-avatar>
                        <img src="/trophy.png">
                    </v-avatar>
                </template>
                <template v-slot:opposite>
                    <span
                            class="headline font-weight-bold"
                            v-text="achievement.name"
                    ></span>
                </template>
                <v-card>
                    <v-card-text>{{achievement.description}}</v-card-text>
                </v-card>
            </v-timeline-item>
        </v-timeline>
    </v-container>
</template>

<script>
    export default {
        props: {
            achievements: Array
        },
        data: () => ({
        }),
        methods: {}
    }
</script>

<style>
    .rounded-card {
        border-radius: 50px;
    }
</style>
