<template>
    <div style="margin-top: 72px;">
        <v-container>
            <div ref="canvas"></div>
            <v-btn text @click="reset" v-if="mouseActive">Reset</v-btn>
        </v-container>
    </div>
</template>
<script>
    export default {
        props: {
            value: Object,
            mouseActive: Boolean,
            request: Object,
            runAlgorithm: Boolean
        },
        data: function () {
            return {
                ps: null,
                canvas: null,
                obstacles: [],
                startPosition: {},
                endPosition: {},
                currentGeneration: 0,
                currentLife: 0,
                run: false
            };
        },
        watch: {
            request: {
                handler: function () {
                    this.obstacles = this.request.obstacles;
                    this.startPosition = this.request.startPoint;
                    this.endPosition = this.request.endPoint;
                },
                deep: true
            },
            runAlgorithm: {
                handler: function() {
                    this.currentGeneration = 0;
                    this.currentLife = 0;
                    this.run = this.runAlgorithm;
                }
            }
        },
        mounted() {
            let script = p => {
                this.canvasWidth = 1200;
                this.canvasHeight = 1000;

                this.startPosition.x = this.canvasWidth / 2;
                this.startPosition.y = this.canvasHeight - this.canvasHeight / 4;

                this.endPosition.x = this.canvasWidth / 2;
                this.endPosition.y = this.canvasHeight / 4;

                this.rectStartX = null;
                this.rectStartY = null;

                this.xOffsetStart = 0.0;
                this.yOffsetStart = 0.0;
                this.startSize = 100;
                this.overStart = false;
                this.movingStart = false;

                this.xOffsetEnd = 0.0;
                this.yOffsetEnd = 0.0;
                this.endSize = 100;
                this.overEnd = false;
                this.movingEnd = false;
                this.boulder = null;

                this.background = null;
                this.end = null;
                this.start = null;
                this.ufo = null;
                this.rocketSize = 30;

                p.setup = _ => {
                    this.background = p.loadImage("/background.png");
                    this.canvas = p.createCanvas(this.canvasWidth, this.canvasHeight);
                    this.canvas.parent(this.$refs.canvas);
                    this.boulder = p.loadImage('/boulder.png');
                    this.end = p.loadImage("/earth.png");
                    this.start = p.loadImage("/saturn.png");
                    this.ufo = p.loadImage("/ufo.png");
                    p.frameRate(60);
                };

                p.draw = _ => {
                    p.background(0);
                    p.image(this.background, 0, 0, this.canvasWidth, this.canvasHeight);
                    p.fill(255);

                    for (let ob of this.obstacles) {
                        p.image(this.boulder, ob.x, ob.y, ob.width, ob.height);
                    }
                    if (this.drawingObstacle) {
                        p.fill(255, 0, 0);
                        p.image(this.boulder, this.rectStartX, this.rectStartY, p.mouseX - this.rectStartX, p.mouseY - this.rectStartY);
                    }

                    this.overStart = p.dist(p.mouseX, p.mouseY, this.startPosition.x, this.startPosition.y) <= this.startSize;
                    this.overEnd = p.dist(p.mouseX, p.mouseY, this.endPosition.x, this.endPosition.y) <= this.endSize;

                    p.fill(0, 255, 0);
                    p.image(this.start, this.startPosition.x, this.startPosition.y, this.startSize, this.startSize);
                    p.image(this.end, this.endPosition.x, this.endPosition.y, this.endSize, this.endSize);

                    if (this.run) {
                        let generation = this.request["result"]["generations"][this.currentGeneration]["rocketPositions"];
                        for (let rocket of generation) {
                            let curPos = rocket["positions"][this.currentLife];
                            p.image(this.ufo, curPos.x, curPos.y, this.rocketSize, this.rocketSize);
                        }
                        if ((this.currentLife + 1) === this.request["lifespan"]) {
                            this.currentLife = 0;
                            if ((this.currentGeneration + 1) === this.request["generationCount"]) {
                                this.currentGeneration = 0;
                                this.run = false;
                            } else {
                                this.currentGeneration += 1;
                            }
                        } else {
                            this.currentLife += 1;
                        }
                    }
                };

                p.mousePressed = _ => {
                    if (!this.mouseActive) {
                        return;
                    }
                    if (p.mouseX > this.canvasWidth || p.mouseX < 0 || p.mouseY > this.canvasHeight || p.mouseY < 0) {
                        return;
                    }
                    if (this.overStart) {
                        this.movingStart = true;
                        this.movingEnd = false;
                    } else if (this.overEnd) {
                        this.movingStart = false;
                        this.movingEnd = true;
                    } else {
                        this.movingStart = false;
                        this.movingEnd = false;
                        this.rectStartY = p.mouseY;
                        this.rectStartX = p.mouseX;
                        this.drawingObstacle = true;
                    }
                    this.xOffsetStart = p.mouseX - this.startPosition.x;
                    this.yOffsetStart = p.mouseY - this.startPosition.y;

                    this.xOffsetEnd = p.mouseX - this.endPosition.x;
                    this.yOffsetEnd = p.mouseY - this.endPosition.y;
                };

                p.mouseDragged = _ => {
                    if (this.movingStart) {
                        this.startPosition.x = p.mouseX - this.xOffsetStart;
                        this.startPosition.y = p.mouseY - this.yOffsetStart;
                    } else if (this.movingEnd) {
                        this.endPosition.x = p.mouseX - this.xOffsetEnd;
                        this.endPosition.y = p.mouseY - this.yOffsetEnd;
                    }
                };

                p.mouseReleased = _ => {
                    if (this.movingStart) {
                        this.movingStart = false;
                        this.startPosition = {x: this.startPosition.x, y: this.startPosition.y};
                    } else if (this.movingEnd) {
                        this.movingEnd = false;
                        this.endPosition = {x: this.endPosition.x, y: this.endPosition.y};
                    } else if (this.drawingObstacle) {
                        this.drawingObstacle = false;
                        this.obstacles.push({
                            x: this.rectStartX,
                            y: this.rectStartY,
                            width: p.mouseX - this.rectStartX,
                            height: p.mouseY - this.rectStartY
                        });
                    }
                    let response = {
                        obstacles: this.obstacles,
                        startPosition: this.startPosition,
                        endPosition: this.endPosition,
                        environmentWidth: this.canvasWidth,
                        environmentHeight: this.canvasHeight,
                        endDiameter: this.endSize,
                        rocketDiameter: this.rocketSize
                    };
                    this.$emit('input', response);
                }
            };
            const P5 = require("p5");
            this.ps = new P5(script);
        },
        destroy() {
            console.log("Destroying")
        },
        methods: {
            reset: function () {
                this.obstacles = [];

                this.startPosition.x = this.canvasWidth / 2;
                this.startPosition.y = this.canvasHeight - this.canvasHeight / 4;

                this.endPosition.x = this.canvasWidth / 2;
                this.endPosition.y = this.canvasHeight / 4;
            }
        }
    };
</script>