<template xmlns:v-slot="http://www.springframework.org/schema/rabbit">
    <v-card color="#303030">
        <v-card-title></v-card-title>
        <v-slider v-model="generationCount" thumb-label max="20" min="1" label="Generation Count" @change="returnData">
            <template v-slot:append>{{generationCount}}</template>
        </v-slider>
        <v-slider v-model="lifespan" thumb-label max="300" min="1" label="Life span" @change="returnData">
            <template v-slot:append>{{lifespan}}</template>
        </v-slider>
        <v-slider v-model="popCount" thumb-label max="30" min="1" label="Population Size" @change="returnData">
            <template v-slot:append>{{popCount}}</template>
        </v-slider>
        <v-slider v-model="maxForce" thumb-label max="10" min="1" label="Maximum Force" @change="returnData">
            <template v-slot:append>{{maxForce}}</template>
        </v-slider>
    </v-card>
</template>

<script>
    export default {
        props: {
            value: Object
        },
        data: function () {
            return {
                generationCount: 10,
                lifespan: 150,
                popCount: 15,
                maxForce: 5
            };
        },
        mounted: function(){
            this.returnData();
        },
        methods: {
            returnData: function() {
                let response = {};
                response.generationCount = this.generationCount;
                response.lifespan = this.lifespan;
                response.popCount = this.popCount;
                response.maxForce = this.maxForce;
                this.$emit("input", response);
                console.log("emitted")
            }
        }
    }
</script>