<template>
    <div>
        <v-stepper dark v-model="e1" vertical>
            <v-stepper-step :complete="e1 > 1" step="1">Design your environment</v-stepper-step>
            <v-stepper-content step="1">
                <v-card flat color="#303030">
                    <v-card-text class="font-weight-bold headline">
                        This is where you can design the world for your rockets to fly through.<br/>
                        The rockets will start at the alien planet and try find their way to the earth<br/>
                        They'll have a difficult time though. They have to avoid asteroids along the way.<br/>
                        Use your mouse to move the start and end positions around and draw obstacles for the rockets to
                        avoid
                    </v-card-text>
                </v-card>
                <environment-design v-model="environmentData" :mouse-active="e1==1"></environment-design>
                <v-btn color="primary" @click="e1 = 2">Continue</v-btn>
            </v-stepper-content>

            <v-stepper-step :complete="e1 > 2" step="2">Configure the test</v-stepper-step>
            <v-stepper-content step="2">
                <v-card flat color="#303030">
                    <v-card-text>
                        Here you can select some things about your rockets.<br/>
                        The generation count is how many generations do you want your rockets to run for.<br/>
                        The lifespan is how much fuel do your rockets have.<br/>
                        The population size is how many rockets are going to be in each generation.<br/>
                        The max force is how fast can your rockets go.
                    </v-card-text>
                </v-card>
                <parameter-selection v-model="parameterData" color="#303030"></parameter-selection>
                <v-btn color="primary" @click="e1 = 3">Continue</v-btn>
                <v-btn text @click="e1--">Back</v-btn>
            </v-stepper-content>

            <v-stepper-step :complete="e1 > 3" step="3">Launch your rockets!</v-stepper-step>
            <v-stepper-content step="3">
                <v-card color="#303030">
                    <v-card-text>Launch your rockets!</v-card-text>
                    <v-card-actions>
                        <v-btn text @click="e1=1">Restart</v-btn>
                        <v-btn text @click="e1--">Back</v-btn>
                        <v-btn color="error" fab large dark @click="sendRequest">
                            <v-img src="/button.png"></v-img>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-stepper-content>
        </v-stepper>
        <v-dialog v-model="errorPopup" max-width="400px">
            <v-card class="red lighten-3"   >
                <v-card-title
                        class="headline grey lighten-2"
                        primary-title
                >
                    Whoops! Something went wrong
                </v-card-title>
                <v-card-text>
                    Let the teacher know that something went wrong and it should be back and working in no time!
                </v-card-text>
                <v-btn @click="errorPopup = false">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showSubmissionAnimation"></v-dialog>
    </div>
</template>
<script>
    import axios from "axios"
    import EnvironmentDesign from "./EnvironmentDesign"
    import ParameterSelection from "./ParameterSelection"

    export default {
        components: {
            "environment-design": EnvironmentDesign,
            "parameterSelection": ParameterSelection
        },
        data: function () {
            return {
                e1: 0,
                environmentData: {},
                parameterData: {},
                errorPopup: false,
                showSubmissionAnimation: false
            };
        },
        methods: {
            sendRequest: function () {
                let requestBody = {};
                requestBody.startPoint = this.environmentData.startPosition;
                requestBody.endPoint = this.environmentData.endPosition;
                requestBody.populationSize = this.parameterData.popCount;
                requestBody.generationCount = this.parameterData.generationCount;
                requestBody.lifespan = this.parameterData.lifespan;
                requestBody.obstacles = this.environmentData.obstacles;
                requestBody.maxForce = this.parameterData.maxForce;
                requestBody.environmentWidth = this.environmentData.environmentWidth;
                requestBody.environmentHeight = this.environmentData.environmentHeight;
                requestBody.endDiameter = this.environmentData.endDiameter;
                requestBody.rocketDiameter = this.environmentData.rocketDiameter;

                axios.post("/api/startGame", requestBody)
                    .then(r => {
                        if (r.data.achievements.length > 0) {
                            this.$emit('achievement-gained', r.data.achievements[0])
                        }
                        this.$emit("test-sent");
                    })
                    .catch(r => {
                        this.errorPopup = true;
                        console.log(r);
                    });
            }
        }
    }
</script>